div {
    width: 200px;
    height: 150px;
    border: 2px solid gray;
    padding: 20px;
    margin: 10px;
    background: chartreuse;
    float: left
}
.cuadrado3 { 
    float: left;
    clear: left
}

@media (max-width:700px) {
    .cuadrado1{
        background: red;
        }
    }

@media (max-width:675px) {
        .cuadrado2{
            background: blue;
            }
        }

@media (max-width:650px) {
    .cuadrado3{
        background: green
    }
}

@media (max-width:600px) {
    .cuadrado4{
        background: purple
    }
}